.calculator{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: auto;
    column-gap: var(--content-padding);
    row-gap: 25px;
    width:calc(calc( 3 * 250) + calc( 2 * var(--content-padding))); 
    padding: var(--content-padding) 0 var(--content-padding) var(--content-padding);
  
  }
  
  
  .calculator-results{
    grid-column: 3 / 3;
    grid-row: 1/3;
    align-self:stretch;
    display: flex;
    flex-direction: column;
    height:100%;
}
  
  .calculator-results-value{
      display: flex;
      align-items: center;
      justify-content: center;
      height:100%;
      background:linear-gradient(90deg, #4eb80c, #00c1be);
      font-size:4em;
      color:white;
      letter-spacing: -.02em;
      font-weight: 600;
  }
  
  .calculator-results-value.is_small{font-size:2em};